html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    width: 100%;
}

aside, section{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
aside h3{
    align-self: center;
}

aside {
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 
            0 10px 6px -8px #777,
            0 -10px 6px -8px #777,
            10px  0  6px -8px #777,
            -10px 0 6px -8px #777;
    justify-content: center;
    margin: 10px;
    width:50%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    height: 50%;
    width:50%;
}
form > * {
    margin:  5px;
}
form input{
    padding: 5px;
}
form label{
    text-align: left;
}
form button{
    background-color: purple;
    border-radius: 10px;
    color: white;
    padding: 15px;
}
form button:hover{
    background-color: darkmagenta;
    cursor: pointer;

}

section{
    align-items: center;
    justify-content: center;
    background-image: url("./assets/mingrui-he-kU1erKq92rk-unsplash.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px;
}
section h3{
    background-color: rgba(255,255,255,0.6);
    border: 2px dotted white;
    border-radius: 10px;
    padding: 10px;
}